<% comments.each do |comment| %>  
  
<div class="comment center">

      <div class="left">
   

          <h5>Dodano <%=comment.created_at.strftime(" %d.%m.%Y o %H:%M")%> przez: 

              <%if comment.user.banned? %>
              <span class="red">[Zbanowany]</span>
              <%end%>
             
              <%= link_to comment.user.name, comment.user if comment.user%>
         
          </h5>
          
      
      </div>




               <%if comment.parent_id.blank?%>
               <div class="panel panel-default col-md-12 komentarz">
                  <h4><%= comment.body %><br></h4>
               <%else%>
               <div class="panel panel-default col-md-11 odpowiedz">
                  <h5><%= comment.body %><br></h5>              
               <%end%>

</div>

<%if user_signed_in? %>

   <%if comment.parent_id.blank? %>

      <div class="comment-nav"><a class="comment-reply">Odpowiedz</a></div>
      
      <%end%>

      <div class="reply-form">
        <%= form_for [@post,@new_comment] do |f| %>
          <%= f.hidden_field :commentable_id, value: @new_comment.commentable_id %>
          <%= f.hidden_field :commentable_type, value: @new_comment.commentable_type %>
          <%= f.hidden_field :comment_id, value: comment.id %>
          <div class="field form-group">
            <%= f.text_area :body, class: 'form-control' %>
          </div>
          <div class="field form-group">
            <%= submit_tag "Odpowiedz", class: 'btn btn-primary' %>
          </div>

        <% end %>

        <%else%>
<div class="comment-nav">

        <% end %>

      
    </div>
     
<% if comment.user == current_user %> 
 

      <%= link_to :back, class: "btn btn-success", method: :get do %>
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        <span class="badge"><%= comment.get_upvotes.size %></span>
        <%end %>
      <%= link_to :back, class: "btn btn-danger", method: :get do %>
        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
        <span class="badge"><%= comment.get_downvotes.size %></span>
        <%end %>

  <% else %>
       
        <%= link_to like_comment_path(comment), class: "btn btn-success", method: :put do %>
        <span class="badge"><%= comment.get_upvotes.size %></span>
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        <%end %>

        <%= link_to unlike_comment_path(comment), class: "btn btn-danger", method: :put do %>
        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
        <span class="badge"><%= comment.get_downvotes.size %></span>
  <% end %>

 <% end %>

  </div>   
    <%= render partial: "comments/reply", locals: {comments: comment.children} %>
  
<% end %>  
