

<% @user_comments.each do |comment| %>  
<div class="panel panel-default col-md-offset-3 col-md-6">  
<div class="panel panel-footer center">  
<div class="comment center">

      <div class="left">
   

          <h5>Dodano <%=comment.created_at.strftime(" %d.%m.%Y o %H:%M")%> przez: 
              <%= link_to comment.user.name, comment.user if comment.user%>
              do obrazka: 
              
              <%= link_to 'Obrazek', post_path(comment.commentable_id) %>
               

         
          </h5>
      

      </div>


               <%if comment.parent_id.blank?%>
               <div class="panel panel-default col-md-12 komentarz" >
                  <h4><%= comment.body %><br></h4>

               <%else%>

               <div class="panel panel-default col-md-11 odpowiedz">
                  <h5><%= comment.body %><br></h5>              
               <%end%>

</div>
</div>
<div class="comment-nav">
      
    </div>
     
<% if comment.user == current_user %> 
 

      <%= link_to :back, class: "btn btn-success", method: :get do %>
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        <span class="badge"><%= comment.get_upvotes.size %></span>
        <%end %>
      <%= link_to :back, class: "btn btn-danger", method: :get do %>
        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
        <span class="badge"><%= comment.get_downvotes.size %></span>
        <%end %>

  <% else %>
       
        <%= link_to like_comment_path(comment), class: "btn btn-success", method: :put do %>
        <span class="badge"><%= comment.get_upvotes.size %></span>
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        <%end %>

        <%= link_to unlike_comment_path(comment), class: "btn btn-danger", method: :put do %>
        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
        <span class="badge"><%= comment.get_downvotes.size %></span>
  <% end %>

 <% end %>
</div>
  </div>   

<% end %>  


