
<div class="panel panel-default col-md-offset-3 col-md-6">
    

<div class="left">




<%= avatar_for(@user, size: 50) %>
<%if @user.banned? %>
<span class="red">[Zbanowany]</span>
<%end%>
<h4>Nick: <%= @user.name %></h4>

<h4>Jesteś z nami od <%= @user.created_at.strftime(" %d.%m.%Y o %H:%M") %></h4>

<h4>Ilość punktów za obrazki: <%= @user.posts.sum(&:cached_votes_score)%></h4>

<h4>Ilość punktów za komentarze: <%= @user.comments.sum(&:cached_votes_score)%></h4>

<h4>Miejsce w rankingu: (?/<%= @users_count%>)</h4>

<h5><%= @user.banned %></h5>


<%if user_signed_in? %>
<% if (@user.name == current_user.name) %>
<h2><%= link_to "EDYTUJ", edit_user_registration_path(@user) %>
<% end %>

<%if current_user.admin? %>
<div class="center">
<%if @user.banned? %>


<%= link_to "Przywróć", user_path(@user, "user[banned]" => false), method: :put, data: {confirm: "Na pewno?"}, class: 'btn btn-primary' %>

<%else%>


<%= link_to "Ban", user_path(@user, "user[banned]" => true), method: :put, data: {confirm: "Na pewno?"}, class: 'btn btn-danger' %>
<%end%>
</div>
<%end%>

<% end %>

</div>

</div>


<div class="panel panel-default col-md-offset-3 col-md-6 center">

<input type='button' id='glowna-link' value='Główna', class="btn btn-success">
<input type='button' id='poczekalnia-link' value='Poczekalnia', class="btn btn-primary">
<input type='button' id='comment-link' value='Komentarze', class="btn btn-danger">
<input type='button' id='ulubione-link' value='Ulubione', class="btn btn-warning">

 </div>


<div id="GlownaSec">
   <div class="panel panel-default col-md-offset-3 col-md-6">
    

    <div class="left">
		<h2>Obrazki na głównej: </h2>
	</div>

   </div>

         <%= render partial: "users/glowna" %>
</div>

<div id="PoczekalniaSec">
	<div class="panel panel-default col-md-offset-3 col-md-6">
    

	<div class="left">
		<h2>Obrazki w poczekalni: </h2>
	</div>

	</div>


		<%= render partial: "users/poczekalnia" %>
</div>


<div id="CommentSec">
	<div class="panel panel-default col-md-offset-3 col-md-6">
    

	<div class="left">
		<h2>Komentarze: </h2>
	</div>

   </div>


		<%= render partial: "users/comments" %>
</div>


<div id="UlubioneSec">
	<div class="panel panel-default col-md-offset-3 col-md-6">
    

	<div class="left">
		<h2>Ulubione: </h2>
	</div>

   </div>


		<%= render partial: "users/ulubione" %>
</div>