<%= image_tag @post.image.url(:medium) %>

<h1>
  <%= @post.name %>
</h1>

<h2>
  <%= @post.title %>
</h2>

<p>

  <%=link_to @post.content, "http://#{@post.content}" %>


</p>

<p>

  <p>Tagi: <%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>

</p>

<strong>Dodano <%=@post.created_at.strftime(" %d.%m.%Y o %H:%M")%> przez: 

<%if @post.user.banned? %>
<span class="red">[Zbanowany]</span>
<%end%>

       <%= link_to @post.user.name, @post.user if @post.user%>
       </strong>
       
        
</div>

<% if @post.user == @current_user %>


 <div class="panel panel-footer text-center">

<%= link_to 'Edytuj', edit_post_path(@post), class: 'btn btn-primary' %> 
<%= link_to 'Usuń', @post, method: :delete, data: { confirm: 'Na pewno?' }, class: 'btn btn-danger' %>



<%= link_to :back, class: "btn btn-success", method: :get do %>
        <span class="badge"><%= @post.get_upvotes.size %></span>
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        <%end %>

         <%= link_to :back, class: "btn btn-danger", method: :get do %>
        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
        <span class="badge"><%= @post.get_downvotes.size %></span>
        <% end %>

        <% else %>
 <div class="panel panel-footer text-center">

        <% if user_signed_in? %>


  <% unless current_user.favorite_posts.exists?(id: @post.id)%>

              <%= link_to favorite_posts_path(post_id: @post), class: "btn btn-warning", method: :post do %>
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
              <%end%>

   <% else %>
              <%= link_to favorite_post_path(@post),class: "btn btn-warning", method: :delete do %>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <% end %>
   <% end %>


<%end %>


        <%= link_to like_post_path(@post), class: "btn btn-success", method: :put do %>
        <span class="badge"><%= @post.get_upvotes.size %></span>
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        <%end %>

        <%= link_to unlike_post_path(@post), class: "btn btn-danger", method: :put do %>
        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
        <span class="badge"><%= @post.get_downvotes.size %></span>



      <% end %>


<%end%>

 <%if user_signed_in? %>  
       
       <% if current_user.admin == true %>

        <%= link_to 'Usuń', @post, method: :delete, data: { confirm: 'Na pewno?' }, class: 'btn btn-danger' %>

       <%end%>
       
 <%end%>
