<!-- <p id="notice"><%= notice %></p> -->


    <% @posts.each do |post| %>
     <div class="panel panel-default col-md-offset-3 col-md-6">
     <div class="panel panel-heading">
  <%if post.glowna != true %>
        <%= link_to image_tag(post.image.url(:medium)), post %>

      
        
       <h1> <%= post.name %></h1>
       <h2><%= post.title %></h2>
       <p>Źródło: <a><%=post.content %></a></p>
       <p>Tagi: <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
       <br> 
       <strong>Dodano <%=post.created_at.strftime(" %d.%m.%Y o %H:%M")%> przez: 

       <%= link_to post.user.name, post.user if post.user%>
       </strong>
         <h4> Ilość komentarzy : (<%= link_to post.comment_threads.count == 0 ? "0" : post.comment_threads.count, post %>)
       </h4>
       <% if post.user == current_user %>  
   
      

 <div class="panel panel-footer text-center">
       
        <%= link_to 'Edytuj', edit_post_path(post), class: 'btn btn-primary'%>
        <%= link_to 'Usuń', post, method: :delete, data: { confirm: 'Na pewno?' }, class: 'btn btn-danger' %>


    <% if current_user.admin == true %>

<%= link_to "Zatwierdź", post_path(post, "post[glowna]" => true), method: :put, data: {confirm: "Na pewno?"}, class: 'btn btn-primary' %>


    <% end %>


    <%= link_to :back, class: "btn btn-success", method: :get do %>
        <span class="badge"><%= post.get_upvotes.size %></span>
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        <%end %>

         <%= link_to :back, class: "btn btn-danger", method: :get do %>
        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
        <span class="badge"><%= post.get_downvotes.size %></span>
        <% end %>
    


        <% else %>
 <div class="panel panel-footer text-center">
        <%= link_to like_post_path(post), class: "btn btn-success", method: :put do %>
        <span class="badge"><%= post.get_upvotes.size %></span>
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        <%end %>
         <%= link_to unlike_post_path(post), class: "btn btn-danger", method: :put do %>
             <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
        <span class="badge"><%= post.get_downvotes.size %></span>
        
      <% end %>
      <% end %>
  </div>
  </div>
  </div>
    <% end %>
    <% end %>

<div class="panel panel-default col-md-offset-3 col-md-6">

<div class="center">
<%= will_paginate @posts, :previous_label => 'Poprzedni', :next_label => 'Następny',  renderer: BootstrapPagination::Rails %>
</div>

</div>

</div>

